
body {
    background-color: #161616;
}

p {
    font-family: 'Trebuchet MS', sans-serif;
}

@keyframes hue-anim{
    0% {filter:hue-rotate(0deg);}
    25% {filter:hue-rotate(90deg);}
    35% {opacity: 100%;}
    40% {opacity: 0%;}
    45% {opacity: 100%;}
    50% {filter:hue-rotate(180deg);}
    75% {filter:hue-rotate(270deg);}
    100% {filter:hue-rotate(360deg);}
}

@keyframes fade-in-anim {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.hue-shift {
    filter: hue-rotate(0deg);
    animation-name: hue-anim;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.fade-in {
    opacity: 0%;
    animation-name: fade-in-anim;
    animation-duration: 2s;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    border-bottom: 2px solid white;
    margin-right: 15%;
    margin-left: 15%;
}

.top-bar-logo {
    display: flex;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 1%;
    height: 35px;
}

.top-bar-text {
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
    text-decoration: none;
    color: white;
    padding-bottom: 3px;
}

.top-bar-text:hover {
    color: #67b6e4;
}

.top-bar-menu {
    display: flex;
    padding-bottom: 3px;
    padding-right: 1%;
    height: 28px;
}

.top-bar-menu:hover {
    filter: invert();
}

.intro-box {
    display: flex;
    flex-direction: row;
    margin-right: 15%;
    margin-left: 15%;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
}

h2 {
    color: white;
}