
body {
    background-color: #181818;
    margin: 8px 0px 0px 0px;
}

@keyframes hue-anim{
    0% {filter:hue-rotate(0deg);}
    25% {filter:hue-rotate(90deg);}
    50% {filter:hue-rotate(180deg);}
    75% {filter:hue-rotate(270deg);}
    100% {filter:hue-rotate(360deg);}
}

@keyframes fade-in-anim {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.hue-shift {
    filter: hue-rotate(0deg);
    animation-name: hue-anim;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.fade-in {
    opacity: 0%;
    animation-name: fade-in-anim;
    animation-duration: 2s;
}

.top-bar { /* This is the styling for the navigation bar */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5%;
    border-bottom: 2px solid white;
    margin-left: 10%;
    margin-right: 10%;
}

.top-bar-logo {
    display: flex;
    margin-right: auto;
    padding-bottom: 6px;
    padding-left: 1.5%;
    height: 36px;
}

.top-bar-text {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    text-decoration: none;
    color: white;
    padding-bottom: 7px;
    transition-duration: 0.4s;
}

.top-bar-text:hover {
    color: #67b6e4;
}

.top-bar-menu {
    display: flex;
    padding-bottom: 6px;
    padding-right: 1.5%;
    height: 26px;
    transition-duration: 0.3s;
}

.top-bar-menu:hover {
    filter: invert();
}

.intro-box { /* This is the styling for the intro box */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 12%;
    margin-left: 12%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 60px;
}

h1 {
    font-family: 'Neuton', sans-serif;
    font-weight: 700;
    font-size: 6em;
    line-height: 0.9em;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Neuton', sans-serif;
    font-weight: 600;
    font-size: 3.25em;
    line-height: 1.1em;
    color: white;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.intro-description {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgb(197, 197, 197);
    margin-top: 10px;
    margin-bottom: 20px;
}

.intro-shapes {
    scale: 95%;
    margin-left: -60px;
    margin-top: -20px;
    
}

.intro-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
    margin-left: -80px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.intro-contact {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    background-image: linear-gradient(to bottom right, rgb(243, 123, 123), rgb(248, 195, 152), rgb(238, 238, 167));
    padding: 10px 40px 10px 40px;
    border-radius: 40px;
    transition-duration: 0.4s;
    animation-name: hue-anim;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.intro-contact:hover {
    color: white;
    background-image: rgb(255, 0, 0);
}

.intro-portfolio {
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    transition-duration: 0.4s;
    outline-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 21px 10px 30px;
}

.intro-portfolio:hover {
    color: black;
    background-color: white;
}

.middle-box {
    display: flex;
    background-color: rgb(31, 31, 31);
    margin-top: -23px;
}