
body {
    background-color: #161616;
}

@keyframes hue-anim{
    0% {filter:hue-rotate(0deg);}
    25% {filter:hue-rotate(90deg);}
    50% {filter:hue-rotate(180deg);}
    75% {filter:hue-rotate(270deg);}
    100% {filter:hue-rotate(360deg);}
}

@keyframes fade-in-anim {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@font-face {
    font-family: 'SF Distant Galaxy Regular';
    src: url('fonts/SFDistantGalaxy.ttf') format('TrueType');
}

.hue-shift {
    filter: hue-rotate(0deg);
    animation-name: hue-anim;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.fade-in {
    opacity: 0%;
    animation-name: fade-in-anim;
    animation-duration: 2s;
}

.top-bar { /* This is the styling for the navigation bar */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    border-bottom: 2px solid white;
    margin-right: 10%;
    margin-left: 10%;
}

.top-bar-logo {
    display: flex;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 1%;
    height: 42px;
}

.top-bar-text {
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}

.top-bar-text:hover {
    color: #67b6e4;
}

.top-bar-menu {
    display: flex;
    padding-bottom: 3px;
    padding-right: 1%;
    height: 28px;
}

.top-bar-menu:hover {
    filter: invert();
}

.intro-box { /* This is the styling for the intro box */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 10%;
    margin-left: 10%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40px;
}

h1 {
    font-family: 'SF Distant Galaxy Regular', sans-serif;
    font-weight: 200;
    font-size: 120px;
    line-height: -200px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'SF Distant Galaxy Regular', sans-serif;
    font-weight: 200;
    font-size: 55px;
    line-height: 70px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

.intro-description {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-style: italic;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.intro-shapes {
    flex-basis: auto;
    margin-left: -60px;
}